/*		Need to modify the form/buttons,
		Currently showing blue hints
*/

* {
	font-family: Century Gothic, segoe ui, tahoma, helvetica;
}

#businessimages {
    height: auto ;
    width: 92%;
    display: block;
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: center;
}

#topimage {
    padding-top: 200px;
    background: url(images/stock13.jpg) no-repeat;
    background-size: cover;
}
#topimageRS {
    padding-top: 200px;
    background: url(images/stock12.jpg) no-repeat;
    background-size: cover;
}
#topimageAR {
    padding-top: 200px;
    background: url(images/stock14.jpg) no-repeat;
    background-size: cover;
}

#logos {
    height: 15%;
    width: 15%;
}

#creativeresult {
    background: url(images/stock11.jpg) no-repeat;
    background-size: cover;
}
#archantresult {
    background: url(images/stock12.jpg) no-repeat;
    background-size: cover;
}
#bigdogresult {
    background: url(images/stock13.jpg) no-repeat;
    background-size: cover;
}
#rocksolidresult {
    background: url(images/stock14.jpg) no-repeat;
    background-size: cover;
}

#resulttitle {
    padding-top: 150px;
}

#resulttitle h {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

#resulttitle2 h {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

#resultp {
    color: white;
    font-size: 15px;
}

#businessp h {
    color: white;
    margin-top: 50px;
    font-size: 20px;
}

#businessp p {
    color: white;
    font-size: 13px;
}

#bodylogin {
    background: url(images/stock8.jpg) no-repeat center;
    background-size: cover;
	height: 100vh;
}

#bodyregister {
    background: url(images/stock9.jpg) no-repeat center center;
    background-size: cover;
	height: 100vh;
}

body {
	/* background-color: #e84922; */
    background-color: black;
	height: 100vh;
}

#whitelogo {
	text-align: center;
	padding-top: 10px;

}

#naver {
	background-color: #72cbff /*#dbd5d2*/;
	color: black;
}

#naver a{
	color: black;
}

#title {
height: 50px;
width: 105;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;

}

#createaccount {
	text-align: center;
	color: white;
}

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
   color: black;
   
   
}

#Name {
	color: white !important;
	font-size: 18px;
	
}

#buttonsignup {
	width: 50%;
}

#havent {
	color: white;
	text-align: center;
}

#havent a {
	color: lightgrey;
}


  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(100px);
     display: block;
     width: 100%;
     margin-top: 1em;
    
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  /*		
  #input-submit {
     color: black !important; 
     background: $red;
     cursor: pointer;
	
	 
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  */
  textarea {
      height: 126px;
  }
}




@media screen and (max-width: 700px) {

	#somethingterrible {
		display: none;
	}

   
}


@media screen and (max-width: 600px) {
 
    #businessimages {
        width: 100%;
    }
    
    #map {
        width: 100%;
    }
    
}


@media screen and (max-width: 400px) {

   
   
}


/*			*/

#toprow {
	margin-top: 30px;
	padding-left: 20px;
}


#businesslogo {
	height: 100px;
	width: 100px;
	text-align: center;
}

#businesstitle {
	font-size: 60px;
}

